/* ================== FORMS ================== */
.goal-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
}  

.goal-form input,
.goal-form select,
.goal-form button {
  padding: 10px 12px;
  border-radius: var(--radius-md);
  border: var(--border);
  font-size: var(--label);
  width: 100%;
  box-sizing: border-box;
}

.goal-form button:hover {
  background-color: var(--grey-100);
}

.goal-form input,
.goal-form select {
  height: 60px;
  font-size: 16px;
}

.goal-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 8px 12px;
  border: 1px solid var(--green-100);
  border-radius: 4px; 
}

.goal-form button {
  color: var(--black);
  font-weight: var(--bold);
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 120px;
}

/* ================== INPUT ROW ================== */
.icon-and-input-row {
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.icon-selector-container {
  width: 24%;
  height: 60px;
  position: relative;
}

/* ================== SELECTED ICON ================== */
.selected-icon-box {
  display: flex;
  align-items: center;
  justify-content: center; 
  border: var(--border);
  border-radius: var(--radius-md);
  cursor: pointer;
  background-color: var(--white);
  width: 100%;
  height: 100%;
  gap: 6px;
}

.selected-icon-box img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
 
.selected-icon-box svg {
  font-size: 18px;
  color: var(--black);
  transition: transform 0.3s ease;  
  transform: rotate(0deg);  
}
 
.selected-icon-box.active svg {
  transform: rotate(180deg);
}

/* ================== DROPDOWN ================== */
.icon-options-dropdown { 
  transition: opacity 0.3s ease-out, max-height 0.4s ease-in-out, padding 0.3s ease-out; 
  opacity: 0;
  max-height: 0;  
  display: flex;
  flex-direction: column; 
  gap: 10px;
  margin-top: 5px;
  border: var(--border);
  border-radius: var(--radius-md);
  background-color: var(--white);
  overflow: hidden;    
  top: 105%;
  left: 0;
  width: 418%;
}
 
.icon-options-dropdown.active {
  opacity: 1;
  max-height: 440px;  
  padding: 12px;  
  overflow-y: auto;  
}
  
.icon-options-dropdown button {
  width: 60px;
  height: 60px;  
  display: flex;
  align-items: center;
  justify-content: center; 
  border: 2px solid transparent;
  background-color: var(--white);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s; 
}

.icon-options-dropdown button:hover {
  background-color: var(--grey-100);
}

.icon-options-dropdown button.selected {
  background-color: var(--yellow-100); 
  border: var(--border);
}

.icon-options-dropdown img {
  height: 45px;
  height: 45px; 
}

/* ================== DROPDOWN CONTAINER ================== */
.icon-dropdown-container {
  display: flex;
  height: 400px;
  flex-direction: column;   
}

/* ================== CATEGORY ================== */
.icon-category-title {
  font-size: var(--label);
  font-weight: var(--bold);
  color: var(--black);  
  padding-bottom: var(--space-m);
  border-bottom: 2px solid var(--grey-200);  
  margin-bottom: var(--space-md);
}
 
.icon-category-icons {   
  display: grid;    
  grid-template-columns: repeat(4, auto);    
  justify-items: center;  
  align-items: start; 
  gap: 8px;    
  grid-auto-rows: 64px;  
}

/* ================== BUTTONS ================== */
.goal-btn {
  padding: 10px 15px;
  border-radius: var(--radius-md);
  border: none;
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.goal-btn.blocos {
  background-color: var(--green-100);
}
 
.goal-btn.sequencial {
  background: var(--pink-100);
} 

.goal-btn.fixo {
  background: var(--purple-100);
}

.goal-btn:hover {
  filter: brightness(0.9);
}
