/* ================== FORMS ================== */
.goal-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
}

.goal-form select,
.goal-form button {
  padding: 10px 12px;
  border-radius: var(--radius-md);
  border: var(--border);
  font-size: var(--label);
  width: 100%;
  box-sizing: border-box;
}

.goal-form button:hover {
  background-color: var(--grey-100);
}

.goal-form input {
  height: 16px;
  font-size: 13px;
}

.select-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}


.select-arrow {
  position: absolute;
  right: 15px;
  pointer-events: none;
  color: var(--black);
}

.goal-form button {
  color: var(--black);
  font-weight: var(--bold);
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 120px;
}

/* ================== SELECT ================== */

.type-selector-container {
  width: 100%;
  position: relative;
}

.selected-type-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--black);
  border-radius: var(--radius-md);
  cursor: pointer;
  background-color: var(--white);
  width: 100%;
  height: 58px;
  gap: 10px;
  font-weight: var(--bold);
  font-size: 14px;
}

.selected-type-box svg {
  transition: transform 0.3s ease;
}

.selected-type-box.active svg {
  transform: rotate(180deg);
}

.type-options-dropdown {
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--white);
  border: 2px solid var(--black);
  border-radius: var(--radius-md);
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease-in-out;
}

.type-options-dropdown.active {
  opacity: 1;
  max-height: 300px;
}

.type-options-dropdown button {
  width: 100%;
  padding: 15px;
  background: none;
  border: none;
  border-bottom: 1px solid var(--grey-100);
  font-weight: var(--bold);
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 0 !important;
}

.type-options-dropdown button:last-child {
  border-bottom: none;
}

.type-options-dropdown button:hover {
  background-color: var(--grey-100);
}



.selected-type-box.blocos {
  background-color: var(--green-100);
}

.selected-type-box.sequencial {
  background-color: var(--pink-100);
}

.selected-type-box.fixo {
  background-color: var(--purple-100);
}


.selected-type-box:hover {
  filter: brightness(0.9);
}

/* ================== INPUT ROW ================== */
.icon-and-input-row {
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.icon-selector-container {
  width: 24%;
  height: 60px;
  position: relative;
}


.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--black);
  border-radius: var(--radius-md);
  padding: 8px 12px;
  background-color: var(--white);
}

.input-label {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 2px;
}

.custom-input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 12px;
  color: #888;
  padding: 0;
  margin: 0;
}

.custom-input:focus {
  outline: none;
}

/* ================== SELECTED ICON ================== */
.selected-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border);
  border-radius: var(--radius-md);
  cursor: pointer;
  background-color: var(--white);
  width: 100%;
  height: 100%;
  gap: 6px;
}

.selected-icon-box img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.selected-icon-box svg {
  font-size: 18px;
  color: var(--black);
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}

.selected-icon-box.active svg {
  transform: rotate(180deg);
}

/* ================== DROPDOWN ================== */
.icon-options-dropdown {
  transition: opacity 0.3s ease-out, max-height 0.4s ease-in-out, padding 0.3s ease-out;
  opacity: 0;
  max-height: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
  border: var(--border);
  border-radius: var(--radius-md);
  background-color: var(--white);
  overflow: hidden;
  top: 105%;
  left: 0;
  width: 418%;
}

.icon-options-dropdown.active {
  opacity: 1;
  max-height: 440px;
  padding: 12px;
  overflow-y: auto;
}

.icon-options-dropdown button {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  background-color: var(--white);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.icon-options-dropdown button:hover {
  background-color: var(--grey-100);
}

.icon-options-dropdown button.selected {
  background-color: var(--yellow-100);
  border: var(--border);
}

.icon-options-dropdown img {
  height: 45px;
  height: 45px;
}

/* ================== DROPDOWN CONTAINER ================== */
.icon-dropdown-container {
  display: flex;
  height: 400px;
  flex-direction: column;
}

/* ================== CATEGORY ================== */
.icon-category-title {
  font-size: var(--label);
  font-weight: var(--bold);
  color: var(--black);
  padding-bottom: var(--space-m);
  border-bottom: 2px solid var(--grey-200);
  margin-bottom: var(--space-md);
}

.icon-category-icons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-items: center;
  align-items: start;
  gap: 8px;
  grid-auto-rows: 64px;
}

/* ================== BUTTONS ================== */
.add-goal-button-container {
  background-color: var(--yellow-200);
  height: 58px;
  display: flex;
  padding: 8px;
  border: var(--border);
  border-radius: var(--radius-md);
}

.add-goal-btn {
  height: 38px;
  background-color: var(--white); 
  border: var(--border);
  font-weight: var(--bold);
  font-size: var(--label);
  border-radius: var(--radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-sm);
}


.goal-btn:hover {
  filter: brightness(0.9);
}




.challenge-card-type-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.challenge-card-info {
  display: flex;
  font-size: 12px;
  border: 2px dashed var(--black);
  border-radius: var(--radius-md);
  padding: 1px 12px;
  justify-content: space-between;
  height: 120px;
  background-color: var(--white);
}


.challenge-card-text-container {
  height: 20px;
}

.challenge-card-description {
  padding-bottom: 15px;
}

.challenge-card-piggy {
  width: 150px;
  height: 150px;
  margin-right: -24px;
  margin-top: -15px;
}


.challenge-info-result {
  font-size: 13px;
}