 @font-face {
   font-family: 'Poppins';
   src: url("/src/assets/fonts/Poppins-Regular.ttf")format('truetype');
   font-weight: 400;
   font-style: normal;
 }

 @font-face {
   font-family: 'Poppins';
   src: url("/src/assets/fonts/Poppins-SemiBold.ttf")format('truetype');
   font-weight: 700;
   font-style: normal;
 }

 html,
 body{
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   -webkit-touch-callout: none;  
 }

 * {
   box-sizing: border-box; 
  user-select: none;         
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;  
}
  

p{
  margin: 0;
}

button, a {
  color: var(--text-color, #000);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  
}


body {
  font-family: var(--font-primary, 'Poppins'), sans-serif;
  font-weight: var(--regular);
  width: 100%;
  height: 100vh;
  background-color: var(--grey-100);  
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: end;
}


 .home-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;  
}
 
:root {
  --appbar-height: px; /* mesma altura da tua .appbarContainer */
}

.page-wrapper {
  min-height: 80vh;
  max-height: 90vh;
  width: 100%;
  padding: var(--space-lg);
  padding-top: 38px;
  padding-bottom: calc(var(--appbar-height) + 20px);  
  display: flex;
  flex-direction: column;
  background-color: var(--grey-100);
  border-top-left-radius: var(--radius-sm);
  border-top-right-radius: var(--radius-sm);
  border-top: var(--border);
  gap: var(--space-md);
  overflow-y: auto;

  /* remove aquele margin-bottom: 104px */
}
.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--grey-100); /* cor de fundo do app */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.splash-logo {
  width: 40%;
  max-width: 200px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

 .em-obra{
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-direction: column;
 }

  .em-obra h4{
  font-size: var(--h4);
  margin: 0;
 }
  .em-obra p{
  font-size: var(--pf);
 }
 .em-obra img{
  width: 30%;
  padding-bottom: 20px;
 }

 .splash-logo {
  width: 25%;
  height: auto;
  animation: coin-spin 2s linear infinite;
  transform-style: preserve-3d;  
}
 
@keyframes coin-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
