/* Container principal, o "quadro" dos depósitos */
.deposit-box {
  width: 100%;
  border: var(--border);
  display: flex;
  flex-direction: column;
  align-items: space-between;  
  border-radius: var(--radius-md); 
  box-sizing: border-box;
  padding-bottom: 14px;
}
 
.last-deposits-list {
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: ce;
}
 
.last-deposit-item {
  align-items: center;
  justify-content: space-between;
  display: flex; 
  width: 100%; 
  padding: 8px;
  border-bottom: 2px dashed var(--black);  
}

.last-deposit-item span { 
  font-size: var(--label);
  color: var(--black);
  font-weight: var(--bold)
}

.last-deposit-item span:last-child {
  color: var(--green-100);
   
}
 
.deposit-box__content {
    width: 100%;
    display: flex;  
    flex-direction: column; 
    align-items: center;  
}
 