.empty-state {
  display: flex;
  flex-direction: column; 
  width: 300px; 
  align-items: center;
  align-content: flex-end;
  justify-content: center; 
  flex-grow: 1;  
  align-self: center; 
  gap: var(--space-md); 
  padding: 20px;
  
}

.empty-state__text {
  width: 80%;
  font-size: var(--label);
  text-align: center;
  font-weight: var(--bold);
}

.empty-state__button {
  gap: var(--space-s);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  font-size: var(--label);
  background-color: var(--purple-100);
  font-weight: var(--bold);
  padding: var(--space-sm);
  border: var(--border);
  border-radius: var(  --radius-lg);
}


.empty-state__button:hover {  
   background-color: var(--purple-200);   
   padding: var(--space-sm) var(--space-m) var(--space-sm) var(--space-m);
   box-shadow: 0 6px 12px rgba(0,0,0,0.15);
 }
