:root {
  /* FONT FAMILY */
  --font-primary: 'Poppins', sans-serif;


  --border: 2px solid var(--black);
  --border-dashed: 2px dashed var(--black);

  /* FONT SIZE */
  --label-s: 10px;
  --label: 12px;
  --pf: 14px;
  --h6: 16px;
  --h5: 20px;
  --h4: 24px;
  --h3: 28px;
  --h2: 40px;
  --h1: 68px;

  /* FONT WEIGHT */
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;

  /* Padding */
  --space-xs: 2px;
  --space-s: 4px;
  --space-sm: 6px;
  --space-m: 12px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 40px;
  --space-3xl: 48px;

  /* BORDER RADIUS */
  --radius-xm: 4px;
  --radius-md: 8px;
  --radius-sm: 12px;
  --radius-lg: 16px;
  --radius-round: 100px;

  /* SHADOWS */
  --shadow-light: rgba(0, 0, 0, 0.1);
  --shadow-medium: rgba(0, 0, 0, 0.25);
  --shadow-heavy: rgba(0, 0, 0, 0.4);

  /* COLORS - BASIC */
  --white: #ffffff;
  --black: #000000;
  --grey-100: #F8F8F8;
  --grey-150: #e6e6e6;
  --grey-200: #D2D2D2;
  --grey-300: #A2A2A2;

  /* COLORS - PURPLE */
  --purple-100: #B9D3F8;
  --purple-200: #8CA1D7; 

 /* COLORS - PINK */
  --pink-100: #F0DBE7;
  --pink-200: #B88EA6;

  /* COLORS - GREEN */
  --green-100: #90A878;
  --green-200: #5E7447;

  /* COLORS - YELLOW */
  --yellow-100: #FFDC9A;
  --yellow-150: #F6C25F;
  --yellow-200: #E0960D;
  --yellow-250: #c07d00;

  /* BACKGROUND IMAGES / ASSETS */
  --background-image: url("../../assets/backgrounds/background-image2.png");
  --money: url("../../assets/icons/money.png");
  --percentage: url("../../assets/icons/percentage.png");
  --car: url("../../assets/icons/carro-icon.png");

}